backcall>=0.1.0
Click>=7.0
colorama>=0.4.1
decorator>=4.4.0
entrypoints>=0.3
flake8>=3.7.8
flake8-polyfill>=1.0.2
Flask>=1.1.1
future>=0.18.1
ipdb>=0.12.2
ipython>=7.8.0
ipython-genutils>=0.2.0
itsdangerous>=1.1.0
jedi>=0.15.1
Jinja2>=2.10.3
mando>=0.6.4
MarkupSafe>=1.1.1
mccabe>=0.6.1
parso>=0.5.1
pexpect>=4.7.0
pickleshare>=0.7.5
prompt-toolkit>=2.0.10
ptyprocess>=0.6.0
pycodestyle>=2.5.0
pyflakes>=2.1.1
Pygments>=2.4.2
radon>=4.0.0
six>=1.12.0
traitlets>=4.3.3
wcwidth>=0.1.7
Werkzeug>=0.16.0
